#nav {
    margin: 13px 0 0 0;
}

#nav div {
    display: inline;
    margin: 0 20px 0 0;
    vertical-align: center;
    margin-bottom: 130px;
    background: yellowgreen;
}

#nav a {
    text-decoration: none;
    vertical-align: center;
}

#nav a:hover {
    text-decoration: underline;
}