#wrapper{
    overflow-y: hidden;
    overflow-x: hidden;
}
#account_form{
    position: absolute;
    top: 15%;
    overflow-y: scroll;
    height: 77%;
    background-color: #333;
    padding: 20px;
    width: 81%;
    left: 50%;
    margin-left: -40%;
    color:#9d9d9d;
}
#div_buttons{
    margin-top: 5%;
    margin-bottom: 5%;
}
.content-section{
    margin-bottom: 30px;
}
.borderless td, .borderless th {
    border-top: 0px !important;
    border-bottom: 0px !important;
}
legend{
    color: #9d9d9d;
    font-family: Evolution;
    font-size: 40px;
}
p{
    color: #9d9d9d;
}
label{
    text-align: right;
}
#magenta{
    background: magenta;
    color: black;
}
#blue{
    background: blue;
    color: white;
}
 #cyan{
    background: cyan;
    color: black;
}
#green{
    background: green;
    color: white;
}
#yellow{
    background: yellow;
    color: black;
}
#red{
    background: red;
    color: white;
}
#black{
    background: black;
    color: white;
}
#white{
    background: white;
    color: black;
}