@font-face{
    font-family: Evolution;
    src: url("../../../../../../../Java/Enterprise/Projects/LoopMe/src/main/webapp/resources/fonts/evolution.ttf") format("opentype");
}
@font-face {
    font-family: Evolution;
    font-weight: bold;
    src: url("../../../../../../../Java/Enterprise/Projects/LoopMe/src/main/webapp/resources/fonts/evolution.ttf") format("opentype");
}