@font-face{
    font-family: Evolution;
    src: url("/resources/fonts/evolution.ttf") format("truetype");
}
@font-face {
    font-family: Evolution;
    font-weight: bold;
    src: url("/resources/fonts/evolution.ttf") format("truetype");
}