@font-face{
    font-family: Milkshake;
    src: url("../fonts/milkshake.otf") format("opentype");
}
@font-face {
    font-family: Milkshake;
    font-weight: bold;
    src: url("../fonts/milkshake.otf") format("opentype");
}