body{
    background-image: url("../images/map.png");
}

#logo{
    float:left;
    font-family: Milkshake;
    font-size: 50px;
    padding-left: 25px;

}


ul {
    list-style-type: none;
    margin: 0;
    padding-right: 25px;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
    font-family: Milkshake;
    color: white;
}

li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    line-height: 50px;
    vertical-align: center;
}

li span{
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    line-height: 50px;
    vertical-align: center;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
