#wrapper {
    position: relative;
    height: 100%;
}
#over_map {
    position: absolute;
    top: 10%;
    background-color: #333;
    width: 25%;
    left: 5%;

    color:#9d9d9d;
}
#divInfo{
    margin-top: 10px;
    padding: 20px;
}
#fabButtons{
    padding-top: 10px;
    padding-bottom: 10px;
}
.iconCol{
    text-align: center;
}
legend{
    color: #9d9d9d;
    font-family: Evolution;
    font-size: 40px;
}
.iconButton{
    width: 60px;
    height: 60px;
}
p{
    word-wrap: break-word;
}