<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <!--CREATE MAP SERVLET-->
  <servlet>
    <servlet-name>createMapServlet</servlet-name>
    <servlet-class>com.excerloops.servlet.generate.createMapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createMapServlet</servlet-name>
    <url-pattern>/createMap</url-pattern>
  </servlet-mapping>

  <!--VIEW SAVED LOOP SERVLET -->
  <servlet>
    <servlet-name>viewLoop</servlet-name>
    <servlet-class>com.excerloops.servlet.generate.viewSavedLoopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewLoop</servlet-name>
    <url-pattern>/viewLoop</url-pattern>
  </servlet-mapping>


  <!-- PERSISTENCE SERVLETS -->

  <!--USER-->
  <!--Create User-->
  <servlet>
    <servlet-name>createUser</servlet-name>
    <servlet-class>com.excerloops.servlet.persistence.user.createUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createUser</servlet-name>
    <url-pattern>/createUser</url-pattern>
  </servlet-mapping>
  <!-- Update User -->
  <servlet>
    <servlet-name>updateUser</servlet-name>
    <servlet-class>com.excerloops.servlet.persistence.user.updateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateUser</servlet-name>
    <url-pattern>/updateUser</url-pattern>
  </servlet-mapping>
  <!-- Delete User -->
  <servlet>
    <servlet-name>deleteUser</servlet-name>
    <servlet-class>com.excerloops.servlet.persistence.user.deleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteUser</servlet-name>
    <url-pattern>/deleteUser</url-pattern>
  </servlet-mapping>

  <!--PREFERENCES-->
  <!-- Update Preferences -->
  <servlet>
    <servlet-name>updatePreferences</servlet-name>
    <servlet-class>com.excerloops.servlet.persistence.preferences.updatePreferencesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatePreferences</servlet-name>
    <url-pattern>/updatePreferences</url-pattern>
  </servlet-mapping>

  <!--SAVED LOOPS-->
  <!--Add Saved Loop-->
  <servlet>
    <servlet-name>saveLoop</servlet-name>
    <servlet-class>com.excerloops.servlet.persistence.savedLoop.addSavedLoopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveLoop</servlet-name>
    <url-pattern>/saveLoop</url-pattern>
  </servlet-mapping>
  <!--Delete Saved Loop-->
  <servlet>
    <servlet-name>deleteLoop</servlet-name>
    <servlet-class>com.excerloops.servlet.persistence.savedLoop.deleteSavedLoopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteLoop</servlet-name>
    <url-pattern>/deleteLoop</url-pattern>
  </servlet-mapping>



  <!--AUTHENTICATION SERVLETS-->
  <!--SignIn Auth-->
  <servlet>
    <servlet-name>signInAuth</servlet-name>
    <servlet-class>com.excerloops.servlet.auth.signInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signInAuth</servlet-name>
    <url-pattern>/signInAuth</url-pattern>
  </servlet-mapping>
  <!--SignUp Auth-->
  <servlet>
    <servlet-name>signOutAuth</servlet-name>
    <servlet-class>com.excerloops.servlet.auth.signOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signOutAuth</servlet-name>
    <url-pattern>/signOutAuth</url-pattern>
  </servlet-mapping>

  <!--MAIN REDIRECT -->
  <!--Index Redirect-->
  <servlet>
    <servlet-name>indexRedirect</servlet-name>
    <servlet-class>com.excerloops.servlet.redirect.main.indexRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexRedirect</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <!--About Redirect-->
  <servlet>
    <servlet-name>aboutRedirect</servlet-name>
    <servlet-class>com.excerloops.servlet.redirect.main.aboutRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aboutRedirect</servlet-name>
    <url-pattern>/about</url-pattern>
  </servlet-mapping>
  <!--HowItWorks Redirect-->
  <servlet>
    <servlet-name>howItWorksRedirect</servlet-name>
    <servlet-class>com.excerloops.servlet.redirect.main.howItWorksRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>howItWorksRedirect</servlet-name>
    <url-pattern>/howItWorks</url-pattern>
  </servlet-mapping>
  <!--Contact Redirect-->
  <servlet>
    <servlet-name>contactRedirect</servlet-name>
    <servlet-class>com.excerloops.servlet.redirect.main.contactRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contactRedirect</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <!--Account Redirect-->
  <servlet>
    <servlet-name>accountRedirect</servlet-name>
    <servlet-class>com.excerloops.servlet.redirect.main.accountRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>accountRedirect</servlet-name>
    <url-pattern>/account</url-pattern>
  </servlet-mapping>
  <!--SignIn Redirect-->
  <servlet>
    <servlet-name>signInRedirect</servlet-name>
    <servlet-class>com.excerloops.servlet.redirect.main.signInRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signInRedirect</servlet-name>
    <url-pattern>/signIn</url-pattern>
  </servlet-mapping>
  <!--GeneratedMap Redirect-->
  <servlet>
    <servlet-name>generatedMapRedirect</servlet-name>
    <servlet-class>com.excerloops.servlet.redirect.main.generatedMapRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>generatedMapRedirect</servlet-name>
    <url-pattern>/generatedMap</url-pattern>
  </servlet-mapping>
  <!--View Loop Redirect-->
  <servlet>
    <servlet-name>viewLoopRedirect</servlet-name>
    <servlet-class>com.excerloops.servlet.redirect.main.viewSavedLoopRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewLoopRedirect</servlet-name>
    <url-pattern>/viewLoopRedirect</url-pattern>
  </servlet-mapping>

  <!-- ADMIN REDIRECT -->
  <!-- Users -->
  <servlet>
    <servlet-name>users</servlet-name>
    <servlet-class>com.excerloops.servlet.redirect.admin.usersRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>users</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>
  <!-- Saved Loops -->
  <servlet>
    <servlet-name>savedLoops</servlet-name>
    <servlet-class>com.excerloops.servlet.redirect.admin.savedLoopsRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>savedLoops</servlet-name>
    <url-pattern>/savedLoops</url-pattern>
  </servlet-mapping>
  <!-- Preferences -->
  <servlet>
    <servlet-name>preferences</servlet-name>
    <servlet-class>com.excerloops.servlet.redirect.admin.preferencesRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>preferences</servlet-name>
    <url-pattern>/preferences</url-pattern>
  </servlet-mapping>

</web-app>
